venv/
*.pyc
*.pyo
__pycache__/
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.tmp
*.bak
*.swp
.vscode/
.idea/
*.iml
*.egg-info/
dist/
build/
migrations/versions/
*.pid
.env
docker-compose.override.yml
.eggs/
*.egg
lib/
lib64/
parts/
bin/
var/
sdist/
wheels/
share/python-wheels/
pip-selfcheck.json
.cache/
.local/
